
.git
.gitignore

.env
.venv
env/
venv/
*.swp
*.swo
**/node_modules/
**/dist/
**/build/
**/target/
.DS_Store
*.orig
Dockerfile
docker-compose*.yml
docker-compose*.yaml
**/__pycache__/
**/*.pyc
npm-debug.log